@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans&family=Urbanist&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: #E2CFEA;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1 {
    text-align: center;
} 
#hero-msg  {
    text-align: center;
}
h4 {
    text-align: center;
    color: #E2CFEA;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: #434371;
}
body {
    background-color: #434371;
    font-family:  "Pontano Sans", "Helvetica", "sans-serif";
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
header {
    background-color: #434371;
}
nav a:hover {
    background-color: #434371;
    color: #E2CFEA;

}
.book, .join {
    background-color: #434371;
    color: #E2CFEA;
    text-decoration: none;
    font-size: 18px;
    padding: 15px, 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover {
    background-color: #434371;
    color: #E2CFEA;
}
.join:hover {
    background-color: #434371;
    color: #E2CFEA;
}

.msg {
    background-color: #434371;
    line-height: 1.5em;
    padding: 35px;
}
footer {
    background-color: #434371;
    color: #E2CFEA;
    padding: 25px 50px;
    margin-top: 200px;
}
footer .social img {
    padding-top: 15px;
}
.home-title {
    color: #E2CFEA;
    font-family: 'Urbanist', 'Arial', 'Helvetica';
    font-size: 2em;
    margin-top: 10px;
}
.msg-title {
    color: #E2CFEA;
    font-family: 'Urbanist', 'Arial', 'Helvetica';
}
.msg h2 {
    color: #E2CFEA;
}
.msg p {
    color: #E2CFEA;
    font-size: .9em;
    padding-bottom: 15px;
}
footer a {
    color: #E2CFEA;
    text-decoration: none;
}
footer a:hover {
    color: #E2CFEA;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.logo {
    width: 80px;
}
#hero-img {
    width: 100%;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
#logo_link {
    padding-top: 5px;
}
.rivers-card, .camping-card, .rapids-card  {
    margin: 200px 0;
}
.card-img {
    border: 10px solid black;
}
main section img {
    box-sizing: border-box;
}