body {background-color: rgba(251, 167, 201);}
.white {
    color: white;
  }

.bold {
    font-weight: bold;
}

.img {
    height: 15%;
    width: 15%;

    display: block;
    margin-left: auto;
    margin-right: auto 
}

.center {
    text-align: center;

}
.list {
    
    margin-left: auto;
    margin-right: auto;
    width: 25em;
    line-height: 2
}
.quote{
    font-weight: normal;
}
.sans {
    font-family: Arial, Helvetica, sans-serif;
}
.top.hover {
    color: black;
}